:root{
    --mainColor: #0fa2df;
    --secondColor: #25bdfb;
    --topColors: #17bbff;
    --headerColor: #229fd5;
    --night: linear-gradient(13deg, var(--mainColor) 25%, var(--secondColor) 95%);
    --btnBorder: 16px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'APL', sans-serif;

}

body {
    padding: 0px;
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    background: var(--night);
    overflow-x: hidden;
}

@font-face {
    font-family: APL;
    src: url(Aga.ttf);
}

.container-fluid {
    background: var(--night);
    height: 100%;
    width: 100%;
    position: absolute;
}

.container-fluid-half {
    background: var(--night);
    height: 50%;
    width: 100%;
    position: absolute;
}

.login-btn {
    background: var(--mainColor);
    display:block; 
    width:100%; 
    padding:10px; 
    margin:10px 0;
    border-radius:var(--btnBorder);
    color:#fff;
}

.register-btn {
    background: var(--secondColor);
    display:block;
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:var(--btnBorder);
    color:#fff;
}

.error-text {
    color:#ff5252; 
    text-align: center;
}

.top-category-btn{
    background: var(--topColors); 
    height: 100%; 
    width: 10%;
    color: white;
    border-radius: 15px;
    border: 0;
    font-size: 16px
}

.top-searchbar{
    background: var(--topColors);
    height: 100%;
    width: 20%;
    color: white;
    border-radius: 15px;
    border: 0;
}

.top-search-btn{
    background: var(--topColors);
    height: 100%;
    width: 50px;
    color: white;
    border-radius: 15px;
    border: 0;
}

.overlay-textbox{
    background: var(--topColors); 
    width:50%; 
    height:50px; 
    position:absolute; 
    bottom:20px; 
    right:25%;  
    display:flex; 
    justify-content:center;
    align-items:center; 
    border-radius: var(--btnBorder);
}

.overlay-textbox h1{
    font-size: 22px; color: white
}